<div  class="nprLink row" >
    <span class="name large-8 columns">
        <button ng-click="play(ngModel)" >Play</button>
        <button ng-click="stop()">Pause</button>
        <a href="#/related" >show related</a>

        <div class="large-10 small-10 columns">
            <div class="row">
                <span class="large-12">{{ ngModel.title.$text }}</span>
            </div>
            <div class="row">
                <div class="small-1 columns"></div>
                <div class="small-2 columns push-8"><a href="{{ ngModel.link[0].$text }}">Link</a></div>
            </div>
        </div>
    </span>
</div>